<form>
    <h1>CRIANDO UMA NOVA SOMA</h1>
     
    <div class="col">
      Numero 1:
      <input type="text"  name="numero" placeholder="Informe o numero">
    </div>

    <div class="col">
      Numero 2:
      <input type="text"  name="numero" placeholder="Informe o numero">
    </div>

    <div class="button">
        <button  class="mat-elevation-z8"  mat-button color="primary">REALIZAR CALCULO</button>
    </div>

    <div class="label">
        <label for="text-center">Resultado:</label>
    </div>

</form>
