.content{
    width: 90%;
    margin: 1.4rem auto auto auto;
}
.title{
    text-align: center;
    margin-bottom: 3rem;
}
.title h1{
    font-weight: 500;
    color: #000;
}

button{
    margin-bottom: .8rem;
}

.table{
    width: 100%;
}

.delete{
    margin-left: .5rem;
}

.mat-header{
    width: Screm;
}

